<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<script
			defer="defer"
			src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"
		></script>
	</head>
	<body>
		<main id="app-root"></main>
	</body>
</html>
