* {
	box-sizing: border-box;
}

body {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	background-color: #222;
	color: #fff;
}

#app-root {
	display: contents;
}

.bar-chart {
	width: 100%;
	min-width: 800px;
}

.bar {
	fill: #8888ff;
}

.bar:hover {
	fill: #ffffff;
}

#title {
	fill: #ffffff;
	text-anchor: middle;
}

#tooltip {
	fill: #ffffff;
	text-anchor: middle;
}
